.card{
    margin:5px;
    display: inline;
}
 
.rotated {
    transform: rotate(90deg);}

.card_title{
    text-align: center;
    font-size: 1.0em;
    margin: 4px;
    
}

.fallback {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 0.9em;
    color: darkgray;
}
