/* #desk{
 /*  display:flex;
  flex-direction: row;
  justify-content: space-evenly; */
/* 
  width:95hw;
  height:85%;
 */

 #desk {
  margin:5px;
  padding: 25px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  background-color: lightgoldenrodyellow;
  border: 2px dotted yellowgreen;

  min-height:85%;
  overflow-y: scroll;  
 }
#spread{
  margin: 50px auto 50px 20px;

  width:max-content;
 
 
  display: flex;
  flex-direction: row;
 
  
}

#keywords{
 margin:15px 15px 15px 5px;
 padding: 1px 2px;
 display: grid;
 width: 400px;
 height: 900px ;
 
 grid-template-rows: repeat(5, 1fr); 
 grid-template-columns: repeat(2, 1fr);
 row-gap: 2px;
  
  z-index:3;
  overflow-y: scroll;
  overflow-x: auto;


 
 background-color: lightgoldenrodyellow;
 
 
}  